.body{
    margin-top: 0px;
    padding-top: 0px;
}
.form-container{
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 600;
    margin-left: 35%;
    width: 26rem;
    border: 1px solid gray;
    padding-left: 1%;
    letter-spacing: 1px;
    color: rgb(83, 86, 87);
    font-size: 13px;
    padding-bottom: 8px;
    margin-top: 0px;
}
.input-text{
    float: right;
    margin-right: 23%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.promotion{
    float: right;
    margin-right: 23%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-state{
    float: right;
    margin-right: 21.5%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.promotion-class{
    margin-top: 0px;
    margin-bottom: 4px;
}
.state-input{
    margin-bottom: 4px;
}
.contact{
    display: flex;
}
.radiobuttons{
    margin-left: 7%;
    
}
.contactmepara{
    padding-top: 25%;
}
.gender{
    padding-top: 35%;
}
.gender-option{
    margin-left: 27%;
}
.button-container{
    display: flex;
}

.information-heading{
    margin-bottom: 0px;
    font-size: 15px;
}
.information-para{
    margin-top: 4px;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Laila', sans-serif;
}
.tellabout-heading{
    margin-bottom: 10px;
}
.textinput-area{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid rgb(200, 197, 197) ;
  margin-bottom: 0px;
  border-right: 1px solid rgb(200, 197, 197) ;
  border-bottom: 1px solid rgb(200, 197, 197) ;
}
.liketodo-heading{
    margin-top: 8px;
    margin-bottom: 10px;

}
.button-container{
    margin-top: 8px;
}
.first-button{
    background-color: rgb(187, 176, 176);
    font-family: 'Laila', sans-serif;
    font-weight: 600;
    width: 7rem;
    height: 2rem;
    border-top: 0px;
    border-left: 0px;
}
.second-button{
    background-color: rgb(187, 176, 176);
    font-family: 'Laila', sans-serif;
    font-weight: 600;
    width: 7rem;
    height: 2rem;
    border-top: 0px;
    border-left: 0px;
}
