.body{
    margin-top: 0px;
    padding-top: 0px;
}
.error-show{
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    color: red;
}
.form-container{
    padding-top: 11rem;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 700;
    margin-left: 35%;
    width: 29rem;
    border: 1px solid gray;
    padding-left: 1%;
    letter-spacing: 1px;
    color: rgb(83, 86, 87);
    font-size: 13px;
    padding-bottom: 8px;
    margin-top: 0px;
}
.formerror{
    color: red;
}
.input-text-name{
    
    margin-left:18%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-text-email{
    margin-left:7%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-text-phone{
    margin-left:1.5%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-text-city{
    margin-left: 21%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.promotion{
    margin-left: 9%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-state{
    margin-left: 3%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.input-text-website{
    margin-left: 3%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid rgb(200, 197, 197) ;
    border-right: 1px solid rgb(200, 197, 197) ;
}
.promotion-class{
    margin-top: 0px;
    margin-bottom: 4px;
}
.state-input{
    margin-bottom: 4px;
}
.contact{
    display: flex;
}
.radiobuttons{
    margin-left: 7%;
    
}
.contactmepara{
    padding-top: 25%;
}
.gender{
    padding-top: 35%;
}
.gender-option{
    margin-left: 25%;
}
.button-container{
    display: flex;
}

.information-heading{
    margin-bottom: 0px;
    font-size: 15px;
}
.information-para{
    margin-top: 4px;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Laila', sans-serif;
}
.name-formerror{
    visibility: hidden;
}
.email-formerror{
    visibility: hidden;
}
.formerror{
    visibility: hidden;
}
.error-show{
    visibility: hidden;
}
.name-star{
    color: red;
}
.email-star{
    color: red;
}
.star{
    color:red;
}
.tellabout-heading{
    margin-bottom: 10px;
}
.textinput-area{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid rgb(200, 197, 197) ;
  margin-bottom: 0px;
  border-right: 1px solid rgb(200, 197, 197) ;
  border-bottom: 1px solid rgb(200, 197, 197) ;
}
.liketodo-heading{
    margin-top: 8px;
    margin-bottom: 10px;

}
.button-container{
    margin-top: 8px;
}
.first-button{
    background-color: rgb(187, 176, 176);
    font-family: 'Laila', sans-serif;
    font-weight: 600;
    width: 7rem;
    height: 2rem;
    border-top: 0px;
    border-left: 0px;
}
.second-button{
    background-color: rgb(187, 176, 176);
    font-family: 'Laila', sans-serif;
    font-weight: 600;
    width: 7rem;
    height: 2rem;
    border-top: 0px;
    border-left: 0px;
}
.color{
    border-color: red;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
    color: red;
}