.header-section{
    background-color: rgb(37, 150, 198);
    width: 100%;
    height: 8em;
    position:fixed;
    top:0px;
}
.header-content{
  position: absolute;
    font-size: 390%;
    font-weight: 550;
    color: white;
    margin-left: 1.25rem;
    margin-top: 1.437rem;
    font-family: 'Poppins', sans-serif; 
}
.bar{
  position: fixed;
  top: 17.5%;
  width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
}
  ul.bar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #333;
    height: 5.1vh;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 16px 10px;
    padding-right: 20px;
    font-size: 2.6vh;
    text-decoration: none;
    line-height: 4.5vh;
    vertical-align: middle;
    padding-left: 16px;
  }
  li.bar-element{
    padding-top: 4px;
  }
  li.icon{
    float: right;
    margin-right: 2%;
    padding-top: 6px;
  }
  a:hover {
    color: rgb(35, 45, 49);
    background-color: rgb(239, 149, 14);
    border-left: 5px solid white;
  }
.border{
    font-size: 16px;
    margin-top: 12.5%;
    margin-left: 3.125rem;
    width: 54%;
}
#newsHeading{
    position: absolute;
    margin-left: 9px;
    margin-top:3px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
}
.list-content{
    position: relative;
    list-style-type:'-   ';
    float: left;
    font-family: 'Roboto', sans-serif;
    line-height: 2.5em;
    margin-left:0px;
    margin-top: 1.875rem;
    font-size: 17px;
    font-weight:600;
    color: rgb(50, 60, 63);
}
#welcomeHeading{
    margin-left:3.125rem;
    margin-top: 2.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}
.content{
    margin-left:3.125rem;
    width: 80%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 60, 63);
}
.form-submit{
  text-align: center;
  margin-top: 50%;
}